<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解的方式来管理bean-->
    <!--<context:annotation-config/>-->

    <!--注解的扫描类，包含了context:annotation-config，一般用了这个，就不用context:annotation-config-->
    <context:component-scan base-package="com.learn.spring.annotationBean"/>
</beans>