<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="aspectDemo" class="com.learn.spring.AOP.AspectDemo"></bean>

    <bean id="aspectTarget" class="com.learn.spring.AOP.AspectTarget"/>


    <aop:config>
        <aop:aspect id="aopDemo" ref="aspectDemo">
            <aop:pointcut id="pointCutOne"
                          expression="execution(* com.learn.spring.AOP.AspectTarget.*(..))"></aop:pointcut>

            <aop:before method="beforeMethod" pointcut-ref="pointCutOne"/>

            <aop:after-returning method="afterReturning" pointcut-ref="pointCutOne"></aop:after-returning>

            <aop:after-throwing method="afterThrowing" pointcut-ref="pointCutOne"></aop:after-throwing>

            <aop:after method="after" pointcut-ref="pointCutOne"></aop:after>
            
            <aop:around method="aroundMethod" pointcut-ref="pointCutOne"></aop:around>

            <aop:around method="aroundInit" pointcut="execution(* com.learn.spring.AOP.AspectTarget.init(String,int)) and args(bizName,times)"></aop:around>
        </aop:aspect>
    </aop:config>
</beans>